defaults:
  - model: linear_vae
  - optimizer: adam
  - loss: vae
  - _self_

mlflow:
  tracking_uri: ${oc.env:MLFLOW_TRACKING_URI, http://127.0.0.1:5500}

  artifacts:
    dir: ${oc.env:PROJECT_ROOT}/artifacts

data:
  data_dir: ./data
  batch_size: 64
  num_workers: 4
  image_size: 32

training:
  epochs: 25
  random_seed: 42
  device: mps

callbacks:

  early_stopping:
    patience: 5
    monitor: val_loss
    mode: min
    min_delta: 1e-4
    start_from_epoch: 10

  model_checkpoint:
    monitor: val_loss
    mode: min
    min_delta: 1e-3
    start_from_epoch: 0
